.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;
}

.btn-twitter {
  color: #fff;
  background-color: #2daddc;
  border-color: #0271bf;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}


md-whiteframe.login md-card md-card-content{
  width:100%;
}
md-whiteframe.login md-card md-card-content>*,md-whiteframe.login md-card .md-actions{
  width:100%;
  padding: 10px;
}
md-whiteframe.login md-card .md-actions a{
  background-color: transparent;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (max-width: 300px) {
  md-whiteframe.login md-card{
    width:100%;
  }
}

@media screen and (max-width: 600px) {
  md-whiteframe.login md-card{
    min-width:80%;
  }
}


@media screen and (min-width: 600px) {
  md-whiteframe.login md-card{
    min-width:500px;
  }
}
