<div  layout="column" style="/*padding-bottom: 15px;*/" class="main" >
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="z-index:1001;" ng-click="vm.toggleSidenav('left');">
    <md-toolbar class="md-tall " style="background: url('assets/images/landscape.jpg')" layout="row" layout-align="center center">
      <div style="font-size: 40px;">Sticky</div>
      <!--<div layout="column" class="md-toolbar-tools-bottom inset">-->
        <!--<user-avatar></user-avatar>-->
        <!--<span></span>-->
        <!--<div>{{vm.getCurrentUser().first_name?vm.getCurrentUser().first_name:vm.getCurrentUser().name}} {{vm.getCurrentUser().last_name}}</div>-->
        <!--<div>{{vm.getCurrentUser().email}}</div>-->
      <!--</div>-->
    </md-toolbar>
    <md-list>
      <md-list-item ng-repeat="item in vm.mainMenu"  md-ink-ripple='#03A9F4' style="cursor: pointer;" >
        <a ui-sref="{{item.url}}" style="width: 100%;text-decoration: none;color: rgba(0, 0, 0, 0.87);">
        <p>{{ item.title }}</p>

        </a>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-repeat="item in vm.extraMenu"  md-ink-ripple='#03A9F4' style="cursor: pointer;">
        <a ng-href="{{item.url}}" target="_blank" style="width: 100%;text-decoration: none;color: rgba(0, 0, 0, 0.87);">
          <p>{{ item.title }}</p>

        </a>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="z-index:1001;" ng-click="vm.toggleSidenav('right');">
    <md-toolbar class="md-tall ">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <user-avatar></user-avatar>
        <span></span>
        <div>{{vm.getCurrentUser().first_name?vm.getCurrentUser().first_name:vm.getCurrentUser().name}} {{vm.getCurrentUser().last_name}}</div>
        <div>{{vm.getCurrentUser().email}}</div>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item ng-click="vm.logout();">
        <md-icon md-font-set="fa fa-sign-out fa-2x "></md-icon>
        <p> Logout </p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-sidenav>

  <md-toolbar sticky-header style="position:fixed;z-index:1000;">
    <div class="md-toolbar-tools ">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleSidenav('left')">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
          <path d="M0 0h18v18h-18z" fill="none"></path>
          <path d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
        </svg>
      </md-button>
      <h2>
        <span ui-sref="main" style="cursor: pointer;">Sticky</span>
      </h2>
      <span flex=""></span>


        <md-list>
          <md-list-item aria-label="Open phone interactions menu" class="md-icon-button" >
            <user-avatar ng-if="vm.isLoggedIn()" ng-click="vm.toggleSidenav('right')" style="cursor: pointer;"></user-avatar>
            <img  ng-if="!vm.isLoggedIn()" src="assets/images/avatar_2x.png" class="md-avatar" style="margin-right:0;cursor: pointer;" ui-sref="main.login"/>
            </md-list-item>
        </md-list>

    </div>
  </md-toolbar>

  <md-content sticky-content style="margin-top:64px;min-height: calc(100vh - 128px)" ui-view>


    <md-whiteframe class="md-whiteframe-z1 hashtag" layout="column" layout-align="center center">
      <md-content style="width:100%;background: inherit;">
        <h1 class="head-title">Sticky</h1>
      <h5 class="tag-line">Create, Access &amp; Share!</h5>
        </svg>
        <md-list class="head-list">
          <md-list-item ng-click="">
            <md-icon md-font-set="fa fa-power-off  "></md-icon>
            <p> Create notes </p>
          </md-list-item>
          <md-list-item ng-click="">
            <md-icon md-font-set="fa fa-power-off  "></md-icon>
            <p> Access your notes on the go!</p>
          </md-list-item>
          <md-list-item ng-click="">
            <md-icon md-font-set="fa fa-power-off  "></md-icon>
            <p> Share with people</p>
          </md-list-item>
          </md-list>
      </md-content>
      <md-button class="md-raised" style="background-color: rgb(16,108,200);color:#fff;" ui-sref="main.notes" ng-if="isLoggedIn">Signup and get started<md-icon md-font-set="fa fa-sign-in fa-2x" style="color:#fff;margin-top: -8px;margin-left: 10px;"></md-icon> </md-button>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z3 md-accent second" layout layout-padding  layout-align="center center">
      <md-content style="width:100%;background: inherit;"  layout-sm="column" >

        <h1 class="head-title">STICKY FOR YOU</h1>
        <h5 class=tag-line>A platform where you can jot down all your notes, quotes, ideas.</h5>
        <div layout="row" layout-sm="column" layout-margin layout-fill layout-padding>
          <div flex>
            <md-list>

          <md-list-item class="md-3-line" >
            <md-icon md-font-set="fa fa-pencil-square-o fa-2x  " class="md-avatar"></md-icon>
            <div class="md-list-item-text">
              <h3> Create Notes </h3>
              <!--<h4>  </h4>-->
              <p> With our online editor you can create beautful notes with images, links etc.</p>
            </div>
          </md-list-item>
        </md-list>
        </div>
          <div flex>
            <md-list>
              <md-list-item class="md-3-line" >
                <md-icon md-font-set="fa fa-pencil-square-o fa-2x  " class="md-avatar"></md-icon>
                <div class="md-list-item-text">
                  <h3> Share &amp; Access</h3>
                  <!--<h4> </h4>-->
                  <p> Access &amp; share your notes on the go. </p>
                </div>
              </md-list-item>
          </md-list></div>
        </div>

      </md-content>
    </md-whiteframe>


  </md-content>
  <div style="bottom: 0;right:0;position: fixed;z-index: 1002;">

    <md-fab-speed-dial md-open="false" md-direction="up"
                       class="md-fling">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary" >
          <md-icon md-font-set="fa fa-bars fa-2x " style="vertical-align: text-bottom;"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="facebook" class="md-fab md-raised md-mini  facebook">
          <a href="https://www.facebook.com/vikashvverma" target="_blank"> <md-icon md-font-set="fa fa-facebook fa-2x  " class="facebook"></md-icon></a>
        </md-button>
        <md-button aria-label="Google+" class="md-fab md-raised md-mini google" >
          <a href="https://www.google.com/+VikashVerma" target="_blank"> <md-icon md-font-set="fa fa-google-plus fa-2x " class="google"></md-icon></a>
        </md-button>
        <md-button aria-label="GitHub" class="md-fab md-raised md-mini github" >
          <a href="https://www.github.com/vikashvverma" target="_blank"><md-icon md-font-set="fa fa-github fa-2x " class="github" ></md-icon></a>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <md-toolbar style="background-color: #202020;" >

    <span style="text-align: center;font-size:14px;line-height: 64px;">&copy; <a href="http://www.programminggeek.in" target="_blank" style="color:#428bca;text-decoration: none;"> Programming Geek</a>, All Rights Reserved</span>
  </md-toolbar>
</div>
